<div class="container-fluid">

<%= form_for(@clip, :html => {:multipart => true}) do |f| %>

<table class = "table table-striped">

  <tr>
    <th>Clip Name</th>
    <td> <%= f.text_field(:clip_name) %>  </td>
  </tr>
  <tr>
    <th>Description</th>
    <td> <%= f.text_area(:clip_description, :rows => 2, style: 'width:100%;') %> </td>
  </tr>
  <tr>
    <th>Image Location</th>
    <td> <%= f.file_field :image_url %> </td>
  </tr>
  <tr>
    <th>Clip Url</th>
    <td> <%= f.text_area(:clip_src, :rows => 2, style: 'width:100%;') %> </td>
  </tr>
  <tr>
    <th>Download URL</th>
    <td> <%= f.text_area(:download_link, :rows => 2, style: 'width:100%;') %> </td>
  </tr>
  <tr>
    <th>Movie</th>
    <td><%= f.text_field(:movie, style: 'width:80%;') %> </td>
  </tr>
  <tr>
    <th>Release Date</th>
    <td><%= f.date_field(:release_date, style: 'width: 80%;') %> </td>
  </tr>
  <tr>
    <th>Tag1</th>
    <td><%= f.text_field(:clip_tag1) %> </td>
  </tr>
  <tr>
    <th>Tag2</th>
    <td><%= f.text_field(:clip_tag2) %></td>
  </tr>
  <tr>
    <th>Tag3</th>
    <td><%= f.text_field(:clip_tag3) %></td>
  </tr>
  <tr>
    <th>Tag4</th>
    <td><%= f.text_field(:clip_tag4) %></td>
  </tr>
  <tr>
    <th>Tag5</th>
    <td><%= f.text_field(:clip_tag5) %></td>
  </tr>
  <tr>
    <th>Actress<th>
    <%= f.collection_select(:actress_id, Actress.all, :id, :full_name, {:include_blank => false}, {class: "form-control"}) %>
  </tr>
  <tr>
    <th>Mature</th>th
    <td><%= f.select :mature, options_for_select(['false', 'true']), {}, {class:"form-control"} %> </td>
  </tr>

</table>

<%=f.submit("Add Clip")%>
<%end %>

</div>
