
<div class="container">

<div class="row">

  <div class="col-md-4">
     <%= image_tag(@clip.image_url, :class => "img-responsive rounded") %>
  </div>

<table class="table-striped table-bordered table-hover">
  <tr>
    <td class="col-md-4"> Name: </th>
    <td class="col-md-4"> <%= @clip.clip_name %> </td>
  </tr>
  <tr>
    <td class="col-md-4"> Description: </th>
    <td class="col-md-4"> <%= @clip.clip_description %> </td>
  </tr>
  <tr>
    <td class="col-md-4"> Movie: </th>
    <td class="col-md-4"> <%= @clip.movie %> </td>
  </tr>
  <tr>
    <td class="col-md-4"> Release Date: </th>
    <td class="col-md-4"> <%= @clip.release_date %> </td>
  </tr>
  <tr>
    <td class="col-md-4"> Actress: </th>
    <td class="col-md-4"> <%= @actress.first_name %> </td>
  </tr>
  <tr>
    <td class="col-md-4"> Tags: </th>
    <td class="col-md-4"> <%= @clip.clip_tag1 %> <span> <%= @clip.clip_tag2 %> </span> <span> <%= @clip.clip_tag3 %> </span> </td>
  </tr>
  </table>

</div>

<br/><br/>

  <div class="row">
    <div class="col-md-4">
      <%= video_tag(@clip.clip_src, controls: true, autobuffer: true) %>
    </div>
  </div>

</div>
