<div class="container-fluid">
    <h4> Feature Clips</h4>
    <table class="table-striped table-bordered table-hover">
        <tr class="row row-eq-height">
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% @feature_clips.each do |feature_clip| %>
        <tr class = "row row-eq-height">
            <td><%= feature_clip.created_at %></td>
            <td><%= link_to 'Show', feature_clip_path(feature_clip) %></td>
            <td><%= link_to 'Edit', edit_feature_clip_path(feature_clip) %></td>
            <td><%= link_to 'Destroy', feature_clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <%end %>
    </table>
    <%= link_to 'New Feature Clip', new_feature_clip_path %>
</div>

<%= will_paginate @features, render: BootstrapPagination::Rails %>

