<html>

    <div class="headings">
      <h1> Browse Clips </h1>
    </div>

    <div class="clips_page_container">
    <% @clips.each do |clip|
            @temp_actress = Actress.find_by_id(clip.actress_id)
            if clip.image_url.present?
             @image = clip.image_url
           else
             @video_info = VideoInfo.new(clip.clip_src)
             @image = @video_info.thumbnail_large
           end %>
            <div class="clips_page_clips">
                <%= link_to image_tag(@image), {:controller => "home", :action => "clip", :id   => clip.id }%>
                <h3> Actress: <%= ;link_to @temp_actress.first_name, {:controller => "home", :action => "actress", :id => @temp_actress.id} %> </h3>
                <h3> Movie: <%= clip.movie %> </h3>
                <h3> Added: <%= time_ago_in_words(clip.created_at).concat(" ").concat("ago") %> </h3>
            </div>
    <%end %>
    </div>

    <%= will_paginate @clips, renderer: BootstrapPagination::Rails %>

</html>
