<html>
    <div class="headings">
      <h1> Browse Actresses: </h1>
    </div>

    <div class="search">
    <%= form_with url: "/home/browse_ac", method: :get do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Enter Actress First Name", class: "form-control" %>
          <div class="input-group-btn">
            <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
          </div>
        </div>
   <% end %>
   </div>

    <div class="actresses_container">
    <% @actresses.each do |actress| %>
        <div class="actress">
            <%= link_to image_tag(actress.image_path.url), {:controller => "home", :action => "actress", :id => actress.id } %>
            <h3> <%= actress.first_name %> <%= actress.last_name %> </h3>
        </div>
    <%end %>
    </div>

    <%= will_paginate @actresses, renderer: BootstrapPagination::Rails %>

</html>
