<html>
    <div class="headings">
      <h1> Browse Actresses: </h1>
    </div>

    <div class="actress_search">
    <%= simple_form_for(:search, :controller => "home", :action => 'browse_ac', method: "GET", :multipart => true ) do |f| %>
      <h3><%= f.input :first_name, input_html: {value: ""} %> </h3>
      <h3><%= f.submit "Search", class: "btn btn-primary" %> </h3>
    <% end %>
    </div>

    <div class="actresses_container">
    <% @actresses.each do |actress| %>
        <div class="actress">
            <%= link_to image_tag(actress.image_path.url), {:controller => "home", :action => "actress", :id => actress.id } %>
            <h3> <%= actress.first_name %> <%= actress.last_name %> </h3>
        </div>
    <%end %>
    </div>

    <%= will_paginate @actresses, renderer: BootstrapPagination::Rails %>

</html>
