<html>

    <div class="show_clip_container">
        <div class="display_clip">
          <%=if @clip.download_link.present?
                image_tag(@clip.image_url, :size => "1000x600")
             else
                get_video_iframe(@clip.clip_src)
             end %>
          <% if @clip.mature == true %>
          <h3> <span style="font-weight:bold; font-size:25px; background-color:red; color:white; padding: 2px"> Warning: Mature Content </span> </h3>
          <h3> <span style="font-weight: bold; color:red; border:1px solid red"> By playing this clip you agree that you are at least 18 years of age </span> </h3>
          <%end%>
          <% if @clip.link_broken == false %>
                 <h3> <Span style="border: 1px solid black"> <%= link_to "Report Link Not Working", {:controller => "home", :action => "report_link", :id => @clip.id} %> </span> </h3>
          <%end%>
          <% if @clip.link_broken == true %>
                <h3> <span style="font-weight:bold; font-size:20px; background-color:red; color:white; padding: 2px">Clip is reported to be broken. We will soon update the clip</span> </h3>
          <%end %>
          <h3>
          <span style="font-weight:bold; font-size:25px; background-color:blue;">
          <%= if @clip.download_link.present?
                link_to "Download Clip", @clip.download_link
              end %>
          </span>
          </h3>
          <h3> Actress: <%= link_to @actress.first_name.concat(" ").concat(@actress.last_name), {:controller => "home", :action => "actress", :id => @actress.id} %> </h3>
          <h3> Movie:   <%= @clip.movie %> </h3>
          <h3> Info:    <%= @clip.clip_description %> </h3>
          <h3> Added:   <%= time_ago_in_words(@clip.created_at).concat(" ").concat("ago") %> </h3>
          <h3> Tags: &nbsp
                     <%if @clip.clip_tag1.present? %>
                        <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag1, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag1 } %> </span>
                     <%end%>
                     &nbsp
                     <%if @clip.clip_tag2.present? %>
                        <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag2, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag2 } %> </span>
                     <%end%>
                     &nbsp
                     <%if @clip.clip_tag3.present? %>
                        <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag3, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag3 } %> </span>
                     <%end%>
                     &nbsp
                     <%if @clip.clip_tag4.present? %>
                        <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag4, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag4 } %> </span>
                     <%end%>
                     &nbsp
                     <%if @clip.clip_tag5.present? %>
                        <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag5, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag5 } %> </span>
                     <%end%>
          </h3>
          </div>
    </div>

    <div class="headings">
        <h1> Similar Clips </h1>
    </div>

    <div class="suggested_clips">
    <% @suggested_clips.each do |suggested_clip|
       @temp_actress = Actress.find_by_id(suggested_clip.actress_id)
       if suggested_clip.image_url.present?
        @image = suggested_clip.image_url
      else
        @video_info = VideoInfo.new(suggested_clip.clip_src)
        @image = @video_info.thumbnail_large
      end %>
        <div class="suggested_clip">
            <%= link_to image_tag(@image), {:controller => "home", :action => "clip", :id   => suggested_clip.id }%>
            <div class="suggested_clip_info">
              <p> Actress:    <%= link_to @temp_actress.first_name, {:controller => "home", :action => "actress", :id => @temp_actress.id} %> &nbsp
                              <%= link_to @temp_actress.last_name, {:controller => "home", :action => "actress", :id => @temp_actress.id} %> </p>
              <p> Movie:      <%= suggested_clip.movie %> </p>
              <p> Info:       <%= suggested_clip.clip_description %> </p>
              <p> Added:      <%= time_ago_in_words(suggested_clip.created_at).concat(" ").concat("ago") %> </p>
              <p> Tags: &nbsp
                         <%if @clip.clip_tag1.present? %>
                            <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag1, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag1 } %> </span>
                         <%end%>
                         &nbsp
                         <%if @clip.clip_tag2.present? %>
                            <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag2, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag2 } %> </span>
                         <%end%>
                         &nbsp
                         <%if @clip.clip_tag3.present? %>
                            <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag3, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag3 } %> </span>
                         <%end%>
                         &nbsp
                         <%if @clip.clip_tag4.present? %>
                            <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag4, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag4 } %> </span>
                         <%end%>
                         &nbsp
                         <%if @clip.clip_tag5.present? %>
                            <span style="background-color:#6495ED"> <%= link_to @clip.clip_tag5, {:controller => "home", :action => "search_cl", :tag => @clip.clip_tag5 } %> </span>
                         <%end%>
              </p>
            </div>
        </div>
    <%end %>
    </div>

    <div class="more_clips_text">
      <h4> <%= link_to "View More", {:controller => "home", :action => "browse_cl"}%>  </h4>
    </div>

</html>
