<html>





        <div class="flex-container">

            <div class="adds">
                <div class="add">Add1</div>
                <div class="add">Add2</div>
                <div class="add">Add3</div>
                <div class="add">Add4</div>
                <div class="add">Add5</div>
                <div class="add">Add6</div>
                <div class="add">Add7</div>
                <div class="add">Add8</div>
            </div>

            <div class="content">

              <div class="feature_container">
                <div class="feature_item">
                  <%= image_tag(@actress.image_path, style: 'height:300px; width:300px;') %>
                </div>
                <div class="feature_item">
                  <%= @feature_actress.description %>
                </div>
                <div class="feature_item">
                  <%= image_tag(@clip.image_url, style: 'height:300px; width:300px;') %>
                </div>
                <div class="feature_item">
                  <%= @feature_clip.description %>
                </div>
              </div>

                <% @latest_clips.each do |latest_clip| %>
                  <div class="clips">
                  <%= image_tag(latest_clip.image_url, style: 'height:200px; width: 200px') %>
                  </div>
               <% end %>

            </div>

            <div class="adds">
                <div class="add">Add1</div>
                <div class="add">Add2</div>
                <div class="add">Add3</div>
                <div class="add">Add4</div>
            </div>
        </div>

</html>
