<html>

    <div class="feature_container">
        <div class="feature_item">
            <%= link_to image_tag(@actress.image_path) , actress_path(@actress)%>
        </div>
        <div class="feature_item">
            <%= @feature_actress.description %>
        </div>
        <div class="feature_item">
            <%= link_to image_tag(@clip.image_url), clip_path(@clip) %>
        </div>
        <div class="feature_item">
            <%= @feature_clip.description %>
        </div>
    </div>

    <% @latest_clips.each do |latest_clip|
            @temp_actress = Actress.find_by_id(latest_clip.actress_id)%>
            <div class="clips">
                <%= link_to image_tag(latest_clip.image_url), clip_path(latest_clip) %> <br/>
                Actress: <%= @temp_actress.first_name %> <br/>
                Movie: <%= latest_clip.movie %>
            </div>
    <%end %>

</html>
