<html>

    <div class="feature_container">
        <div class="feature_item">
            <h1> Featured Actress </h1>
            <%=link_to image_tag(@actress.image_path) , {:controller => "home", :action => "actress", :id => @actress.id}%>
            <h2> <%= @actress.first_name %> &nbsp <%= @actress.last_name %> </h2>
            <h3> <%= @feature_actress.description %> </h3>
        </div>
        <div class="feature_item">
            <h1> Featured Clip </h1>
            <%= link_to image_tag(@clip.image_url), {:controller => "home", :action => "clip", :id   => @clip.id }%>
            <h3> Movie: <%= @clip.movie %> </h3>
            <h3> <%= @clip.clip_description %> </h3>

        </div>
    </div>


    <div class="headings">
        <h1> Recently Added Clips </h1>
    </div>
    <div class="clips_container">
    <% @latest_clips.each do |latest_clip|
            @temp_actress = Actress.find_by_id(latest_clip.actress_id)
            if latest_clip.image_url.present?
             @image = latest_clip.image_url
           else
             @video_info = VideoInfo.new(latest_clip.clip_src)
             @image = @video_info.thumbnail_large
           end %>
            <div class="clips">
                <%= link_to image_tag(@image), {:controller => "home", :action => "clip", :id   => latest_clip.id }%>
                <h3> Actress: <%= link_to @temp_actress.first_name, {:controller => "home", :action => "actress", :id => @temp_actress.id} %> </h3>
                <h3> Movie: <%= latest_clip.movie %> </h3>
                <h3> Added: <%= time_ago_in_words(latest_clip.created_at).concat(" ").concat("ago") %> </h3>
            </div>
    <%end %>
    </div>

    <div class="more_clips_text">
      <h4> <%= link_to "View More", {:controller => "home", :action => "browse_cl"}%>  </h4>
    </div>

</html>
