
<!-- <h1>List of all Actresses</h1> -->
<head>

    <%= stylesheet_link_tag('mystyle', :media => 'all') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>

</head>

<div class="container-fluid">

<div class="search">
  <%= form_with url: "/actresses", method: :get do %>
    <div class="input-group">
      <%= search_field_tag :search, params[:search], placeholder: "Enter Actress First Name", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
    </div>
  <% end %>
</div>

<table class="table-striped table-bordered table-hover">
  <tr class='row'>
    <th class="col-md-1">ID</th>
    <th class="col-md-4"> First Name</th>
    <th class="col-md-4"> Last Name</th>
    <th class="col-md-2"> Image </th>
  </tr>
  <% @actresses.each do |actress| %>
  <tr class="row">
    <td class="col-md-1"> <%= actress.id %> </td>
    <td class="col-md-3"> <%= actress.first_name %> </td>
    <td class="col-md-3"> <%= actress.last_name %> </td>
    <td class="col-md-2"> <%= image_tag(actress.image_path.url, :class => "fixed_size_image") %></td>
    <td class="col-md-1"> <%= link_to("Show",actress_path(actress)) %> </td>
    <td class="col-md-1"> <%= link_to("Edit", edit_actress_path(actress)) %> </td>
    <td class="col-md-1"> <%= link_to("Delete", delete_actress_path(actress)) %> </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @actress, renderer: BootstrapPagination::Rails %>
</div>
