
<!-- <h1>List of all Actresses</h1> -->

<div class="container-fluid">

<%= simple_form_for :search, url: actresses_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :first_name, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<table class="table-striped table-bordered table-hover">
  <tr class='row'>
    <th class="col-md-1">ID</th>
    <th class="col-md-4"> First Name</th>
    <th class="col-md-4"> Last Name</th>
    <!--<th class="col-md-2"> Image </th> -->
  </tr>
  <% @actresses.each do |actress| %>
  <tr class="row">
    <td class="col-md-1"> <%= actress.id %> </td>
    <td class="col-md-3"> <%= actress.first_name %> </td>
    <td class="col-md-3"> <%= actress.last_name %> </td>
    <!--<td class="col-md-2"> <%= image_tag(actress.image_path, :class => "img-responsive") %></td> -->
    <td class="col-md-1"> <%= link_to("Show",actress_path(actress)) %> </td>
    <td class="col-md-1"> <%= link_to("Edit", edit_actress_path(actress)) %> </td>
    <td class="col-md-1"> <%= link_to("Delete", delete_actress_path(actress)) %> </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @actress, renderer: BootstrapPagination::Rails %>
</div>
