
<div class="show_actress_container">
    <div class="show_actress">
        <%= image_tag(@actress.image_path) %>
        <h3> Id: <%= @actress.id %> </h3>
        <h3> First Name: <%= @actress.first_name %> </h3>
        <h3> Last Name: <%= @actress.last_name %> </h3>
        <h3> Created At: <%= @actress.created_at %> </h3>
        <h3> Updated At: <%= @actress.updated_at %> </h3>
        <h3> Description: <%= @actress.description %> </h3>
        <h3> Total Clips: <%= @clips.count %> </h3>
    </div>
</div>

<div class="headings">
    <h1> All Clips </h1>
</div>

<div class="suggested_clips">
<% @clips.each do |suggested_clip| %>
    <div class="suggested_clip">
      <%= if suggested_clip.image_url.present?
              @image = suggested_clip.image_url
         else
              @image = get_video_thumbnail(suggested_clip.clip_src)
         end
        link_to image_tag(@image), {:controller => "clips", :action => "show", :id   => suggested_clip.id }%>
        <div class="suggested_clip_info">
          <p> Actress:    <%= link_to @actress.first_name, {:controller => "home", :action => "actress", :id => @actress.id} %> &nbsp
                          <%= link_to @actress.last_name, {:controller => "home", :action => "actress", :id => @actress.id} %> </p>
          <p> Movie:      <%= suggested_clip.movie %> </p>
          <p> Info:       <%= suggested_clip.clip_description %> </p>
          <p> Date Added: <%= suggested_clip.created_at %> </p>
          <p> Tags:  &nbsp <span style="background-color:#6495ED"> <%= suggested_clip.clip_tag1 %> </span>
                     &nbsp <span style="background-color:#6495ED"> <%= suggested_clip.clip_tag2 %> </span>
                     &nbsp <span style="background-color:#6495ED"> <%= suggested_clip.clip_tag3 %> </span> </p>
        </div>
    </div>
<%end %>
</div>

</div>
