
<html>
  <head>

    <%= stylesheet_link_tag('mystyle', :media => 'all') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>
    
    <title> Bollywood Skin Admin: <%= @page_title || "Admin Area" %> </title>

  </head>

  <body>

    <!-- Nvigtion Menu -->

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bollywood Skin</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li> <%= link_to("Actress Home", actresses_path) %> </li>
          <li> <%= link_to("Clips Home", clips_path) %> </li>
          <li> <%= link_to("Add New Actress",new_actress_path) %> </li>
          <li> <%= link_to("Add Clip", new_clip_path) %> </li>
          <li> <%= link_to("Feature Actresses", feature_actresses_path) %></li>
          <li> <%= link_to("Feature Clips", feature_clips_path) %></li>
        </ul>
      </div>
    </nav>


    <!--</nav> -->

    <!-- Content specific to each page goes here -->
    <%= yield %>
    <!-- content specific to each page ends here -->



  </body>


<!--
<div class="container-fluid">
  <nav class="navbar navbar-collapse">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bollywood Skin </a>
      </div>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li> <%= link_to("Actress Home", actresses_path) %> </li>
        <li> <%= link_to("Clips Home", clips_path) %> </li>
        <li> <%= link_to("Add New Actress",new_actress_path) %> </li>
        <li> <%= link_to("Add Clip", new_clip_path) %> </li>
      </ul>
    -->
</html>
