<html>

    <head>
        <div class="top_highlight">
          <!-- top adds come here -->
        </div>
        <title>Bollywood Skin Home</title>

        <%= stylesheet_link_tag('mystyle', :media => 'all') %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Bollywood Skin</a>
                </div>
                <ul class="nav navbar-nav">
                    <li> <%= link_to "Home", {:controller => "home", :action => "index"} %> </li>
                    <li> <%= link_to "Actresses", {:controller => "home", :action => "browse_ac"}%> </li>
                    <li> <%= link_to "Clips", {:controller => "home", :action => "browse_cl"}%> </li>
                </ul>
            </div>
        </nav>

        <div class="flex-container">
            <div class="adds">
                <!-- Adds Here -->
            </div>
            <div class="content">
                <%= yield %>
            </div>
            <div class="adds">
                <!-- Adds Here -->
            </div>
        </div>

    </body>

</html>
